---
import { ENABLE_LIGHTBOX } from '../../server-constants.ts'
import * as interfaces from '../../lib/interfaces'
import { filePath } from '../../lib/blog-helpers'
import Caption from './Caption.astro'

export interface Props {
  block: interfaces.Block
}

const { block } = Astro.props

let image = ''
let altText = 'Image'

// Get image URL - always use original URLs for reliability
if (block.Image.External) {
  image = block.Image.External.Url
} else if (block.Image.File) {
  // Always use original Notion URL to ensure images load
  image = block.Image.File.Url
}

// Set better alt text from caption if available
if (block.Image.Caption && block.Image.Caption.length > 0) {
  altText = block.Image.Caption.map(text => text.PlainText).join('')
} else {
  altText = 'Blog post image'
}
---

<figure class="image">
  {
    image && (
      <div>
        <div>
          {ENABLE_LIGHTBOX ? (
            <a data-fslightbox href={image} data-type="image">
              <img 
                src={image} 
                alt={altText} 
                loading="lazy"
              />
            </a>
          ) : (
            <img 
              src={image} 
              alt={altText} 
              loading="lazy"
            />
          )}
        </div>
        <Caption richTexts={block.Image.Caption} />
      </div>
    )
  }
  {
    !image && (
      <div class="image-error">
        <p>🖼️ Image could not be loaded</p>
      </div>
    )
  }
</figure>

<style>
  .image {
    display: flex;
    margin: 2rem 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  .image > div {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .image > div > div {
    text-align: center;
  }
  
  .image > div > div img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .image-error {
    text-align: center;
    padding: 2rem;
    color: #666;
    font-style: italic;
  }

  .image-error p {
    margin: 0;
  }

  @media (max-width: 800px) {
    .image {
      width: 100vw;
      margin-left: -20px;
      margin-right: -20px;
      left: 0;
      right: 0;
    }
    
    .image > div {
      padding: 0;
      width: 100%;
    }
    
    .image > div > div img {
      width: 100%;
    }
  }
</style>
